.nav-bar {
    width: 200px; /* Asegúrate de que este ancho es el correcto */
    background-color: #fbf6f6;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    border-right: 1px solid #dcdcdc;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
}

.nav-bar li {
    margin-bottom: 40px;
    margin-top: 20px; 
}

.nav-bar a {
    display: block;
    padding: 10px 20px;
    background-color: #0033A0;
    border: 2px solid #0033A0; 
    border-radius: 12px; 
    text-decoration: none;
    color: #fbf6f6; 
    transition: background-color 0.3s ease;
}


.top-bar {
    background-color: #fbf6f6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    position: fixed;
    width: calc(100% - 220px);
    top: 0;
    left: 240px;
    height: 60px;
    color: black;
    border-bottom: 1px solid #dcdcdc;
}

.user-info {
    display: flex;
    align-items: center;
}

.notifications {
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 990px;
}

.username {
    margin-left: 10px;
}
